body {
  margin: 0;
  padding: 0;
  width: 100%;
  box-sizing: border-box;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: black;
  color: white;
  width: 100%;
  box-sizing: border-box; /* Include padding and border in element's total width and height */
  position: fixed; /* Keeps the navbar fixed at the top */
  top: 0;
  left: 0;
  z-index: 1000; /* Ensures the navbar stays on top of other content */
}

.navbar-brand a {
  font-size: 1.5rem;
  color: #ff69b4; 
  text-decoration: none;
}

.navbar-menu a {
  margin-left: 1rem;
  color: white;
  text-decoration: none;
}

.navbar-menu a:hover {
  color: #ff69b4;
}
