body {
  margin: 0;
  padding: 0;
  width: 100%;
  box-sizing: border-box;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: black;
  color: white;
  width: 100%;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.navbar-brand a {
  font-size: 1.5rem;
  color: #ff69b4; 
  text-decoration: none;
}

.navbar-menu {
  display: flex;
}

.navbar-menu a {
  margin-left: 1rem;
  color: white;
  text-decoration: none;
  font-size: 20px;
}

.navbar-menu a:hover {
  color: #ff69b4;
}

.menu-toggle {
  display: none;
  background: none;
  border: none;
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
}

/* Media Queries for Responsive Design */
@media (max-width: 475px) {
  .navbar {
    flex-direction: row;
    justify-content: space-between;
  }

  .navbar-menu {
    display: none;
    flex-direction: column;
    width: 100%;
    text-align: center;
  }

  .navbar-menu.open {
    display: flex;
  }

  .navbar-menu a {
    margin: 0.5rem 0;
  }

  .menu-toggle {
    display: block;
    position: absolute;
    right: 1rem;
  }
}

@media (max-width: 480px) {
  .navbar-brand a {
    font-size: 1.2rem;
  }

  .navbar-menu a {
    font-size: 18px;
  }
}
